/* nollställ marginaller och padding för att ge mig mer kontroll över dem*/
* {
    margin: 0;
    padding: 0;

}

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 5%;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 5%;
    line-height: 150%;
}

img {
    max-width: 100%;
}

header {

    background-color: #EAD7BB;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;

}

.logo {
    margin: auto;
    display: block;
    max-block-size: 100%;
    padding: 20px;

}

footer {
    position: block;
    bottom: 0%;
    width: 100%;
    padding: 1%;
    background-color: #EAD7BB;
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-color: black;
    z-index: -1;
}

/* Till schematabellen */


table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

th,
td {
   
}

th {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 90%;
    border-bottom: 2px solid #111111;
    border-top: 1px solid #999;
    text-align: left;
}

tr.even {
    background-color: #efefef;
}

tr:hover {
    background-color: #ebce8f;
}

tfoot {
    font-weight: bold;
}


li > a {
    font-family: 'Courier New', Courier, monospace;
    color: black;    
}

/*Large screen size*/
@media screen and (min-width: 1024px) {
    #logo_small {
        display: none;
    }
}

/*Medium screen size*/
@media screen and (min-width: 601px) and (max-width: 1023px) {
    #logo_small {
        display: none;
    }
}

/* small screen size*/
@media (max-width: 600px) {
    #logo_large {
        display: none;
    }

    #logo_small {
        display: block;
    }

    a {
        text-decoration: none;
        
       
    }
    li {
        margin-top: 10px;
        list-style-type: none;
        
    }
    nav>ul {
        width: 75%;
        padding: 15px;
        margin: 0px auto 0px auto;
        text-align: center;
    }
}